body{ background-color: coral;
color: brown;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;}

button{background-color: rgb(215, 86, 39);
color: white;
}